.headerContainer {
    align-items: center;
    top: 30px;
    display: flex;
    flex-direction: row;
    gap: 59px;
    justify-content: center;
    left: 5px;
    position: relative;
    width: 100%;
    z-index: 100;
  }
  
  
  