.main{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.backimage{
    position:fixed;
    object-fit: fill;
}
.logo {
    display: flex;
    justify-content: left;
    left: 1.61rem;
    position: absolute;
    top: 1.25rem;
    z-index: 100;
  }