.footerContainer {
  height: 5.5rem;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 59px;  
  position: relative; /* Absolute or fixed to set footer on bottom it was relative */
  bottom: 0; /* does not do anything if relative */
  left: 0;
  width: 100%;
  z-index: 100;
  /* align self to bottom */
}


.footerIcon1,
.footerIcon2,
.footerIcon3 {
  color: #8A8992;
}